/*  Estilos da Página index.html    */

    .center {
        text-align: center;
    }

    .justify {
        text-align: justify;
    }

    .container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    #menu li  {
        display: inline;
        padding: 20px;
    }

    #menu li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    #menu li a:hover {
        color: white;
    }

    .p-30 {
        padding: 30px;
        align-items: stretch;
    }

    .br-50 {
        border-radius: 50%;
    }

    .wh-300 {
        width: 300px; 
        height: 300px; 
    }

    .tm {
        width: 50px;
        height: 50px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .ml-50 {
        margin-left: 50px;
    }

/*  Estilos da Página contato.html    */

/* Minhas modificações */

    body {
    background: lavender;
    }

    .menu-btn {
    background-color: lightslategrey;
    border-style: double;
    
    }

    .fonte { 
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
    }
